@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Karla:wght@300;400&family=Rampart+One&display=swap');

body {
  font-family: 'Karla', sans-serif;
  color:rgb(20, 20, 20);
  font-size: medium;
  background-color:rgb(240, 240, 240);
  line-height:normal;
}

h1,h3 {
  font-family: 'Rampart One', cursive;
  color:rgb(40, 40, 40);
  font-size:32px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  color:rgb(40, 40, 40);
  font-size: 24px;
}

#welcome {
  font-size:16px;
}

a {
  text-decoration: none;
}

.container {
  margin: 40px auto;
  width: 80vw;
}

.card-white {
  background-color:rgb(240, 240, 240);
  margin: 12px auto;
  box-shadow: 0 0 16px rgb(0 0 0 / 10%);
  padding: 30px;
  text-align: center;
}

.btn_grey {
  color:rgb(220, 220, 220);
  background-color:rgb(80, 80, 80);
  border-radius: 4px;
  padding: 10px 20px;
  display: inline-block;
}

.btn_grey:hover {
  background-color:rgb(20, 20, 20);
  transition: 2s;
}

.img-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 10%);
}

.square-photo {
  object-fit: cover;
}

.list-inline {
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline;
}

.list-inline a {
  font-size: 34px;
  margin: 0 4px;
  color: rgb(40,40,40);
}

@media (max-width: 992px) {
  .container, .card-white {
    width: 700px;
  }
}
@media (max-width: 800px) {
  .container, .card-white {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .container, .card-white {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .container, .card-white {
    width: 300px;
  }
}
